<template>
  <div class="form-container">
    <p class="form-welcome" id="welcome">Join our community of tech enthusiasts!</p>
    <form class="signup-form" id="signupform">
      <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input class="form-input" type="text" name="name" id="signupname">
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <input class="form-input" name="email" id="signupemail">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input class="form-input" name="password" type="password" id="signuppw">
      </div>
      <div class="form-group">
        <button class="form-submit" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</template>
<script src="/js/sign-up.js"></script>